/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
composer.lock
test-crud.js
test-results/.last-run.json
tests/admin-login-test.spec.js
tests/crud-testing.spec.js
tests/manual-login-test.spec.js
tests/robust-login-test.spec.js
tests/simple-navigation-test.spec.js
